@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
    /* ! font-weight =>  400 */
}
@font-face {
    font-family: Roboto_Medium;
    src: url("../fonts/Roboto-Medium.ttf");
    font-display: swap;
    /* ! font-weight =>  500 */
}
@font-face {
    font-family: Roboto_Bold;
    src: url("../fonts/Roboto-Bold.ttf");
    font-display: swap;
    /* ! font-weight =>  500 */
}
