.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_heading_item {
  transition: all 0.2s linear !important;
}
.form_heading_item span {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: var(--color-text-secondary);
}
.active_heading_item span {
  background: linear-gradient(89.15deg, #6a11cb 0%, #2575fc 99.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Roboto_Medium, sans-serif, sans-serif;
  font-weight: 500;
}
.form_heading_item img{
  fill: linear-gradient(89.15deg, #6a11cb 0%, #2575fc 99.86%);

}
.active_heading_item {
  position: relative;
}
.active_heading_item:after {
  content: "";
  width: 100%;
  position: absolute;
  top: 100%;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(89.15deg, #6a11cb 0%, #2575fc 99.86%);
  transition: all 0.2s linear !important;
}

.form_input_parent {
  border-radius: 8px;
  border: 1px solid var(--Border-Border-color-border-primary);
  padding: 10px;
  display: flex;
  gap: 4px;
  align-items: center;
  height: 44px;
  width: 190px;
}
.form_input_parent img {
  width: 24px;
  height: 24px;
}
.form_input {
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--color-text-secondary);
  width: 100%;
}
.auth_button span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: center;
}

.err_form {
  border: 1px solid var(--primary-red);
}
.err_msg {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  color: var(--primary-red);
  position: absolute;
  bottom: -16px;
}

.form_card {
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid var(--Border-Border-color-border-primary);
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 11;
  background: var(--white);
  max-height: 200px;
  overflow-y: scroll;
}
.form_card::-webkit-scrollbar {
  width: 8px;
}

.form_card::-webkit-scrollbar-thumb {
  background-color: var(--neytrall300);
  padding: 2px;
  border-radius: 6px;
  width: 90%;
}

.form_card::-webkit-scrollbar-track {
  background-color: var(--neytrall);
}

.form_card_item_heading {
  padding: 10px 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  transition: all 0.2s linear;
  background: none;
}
.form_card_item {
  transition: all 0.2s linear;
}
.form_card_item_heading:hover {
  transition: all 0.2s linear;

  background: linear-gradient(
    180deg,
    rgba(106, 17, 203, 0.25) 0%,
    rgba(37, 117, 252, 0.25) 100%
  );
}
.form_card_item_body_item {
  padding: 10px 8px;
  cursor: pointer;
}
.form_card_item_heading_name {
  font-family: Roboto_Medium, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  color: var(--primary-bg-color);
}

.form_card_item_body_item_name {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--primary-bg-color);
}

.down_form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
