.link_name {
  display: flex;
  align-items: center;
  font-family: Roboto_Medium, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
  gap: 4px;
}
.active_link_name {
  background: -webkit-linear-gradient(180deg, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth_button {
  background: var(--gradient);
  border-radius: 6px;
  padding: 10px 48px;
  gap: 10px;
  font-family: Roboto_Medium, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.switcher_body {
  border-radius: var(--radiusrounded-small);
  border: 1px solid var(--Border-Border-color-border-primary);
  width: 200px;
  position: absolute;
  top: 30px;
  gap: 2px;
  background: var(--white);
    z-index: 11;
}
.switcher_heading {
  display: flex;
  gap: 8px;
}

.switcher_body_title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--color-text-secondary);
}
.switcher_item {
  padding: 8px;
  gap: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--color-text-main);
  cursor: pointer;
  border-radius: var(--radiusrounded-md);
}

.current_switcher {
  background: linear-gradient(
    180deg,
    rgba(106, 17, 203, 0.25) 0%,
    rgba(37, 117, 252, 0.25) 100%
  );
}

.switcher_heading {
  font-family: Roboto_Medium, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-main);
  display: flex;
  align-items: center;
}

.stroke_line {
  height: 100%;
  width: 2px;
  background: var(--Border-Border-color-border-primary);
  border-radius: 1px;
}

.overlay_bg {
  z-index: 10;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}