@import "fonts.css";
@import "variables.css";
@import "header.css";
@import "hero.css";
@import "form.css";
@import "calendar.css";
@import "days.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}