:root {
  --white: #fff;
  --color-text-main: #1a1d3e;
  --gradient: linear-gradient(89.15deg, #6a11cb 0%, #2575fc 99.86%);
  --radiusrounded-small: 8px;
  --radiusrounded-md: 6px;
  --Border-Border-color-border-primary: #e5e7eb;
  --neytrall: #F3F5F8;
  --neytrall300: #D1D5DB;
  --color-text-secondary: #6c6e8c;
  --primary-red: #F13D41;
  --primary-bg-color: #303461;
}
