:root {
  --white: #fff;
  --color-text-main: #1a1d3e;
  --gradient: linear-gradient(89.15deg, #6A11CB 0%, #2575FC 99.86%);

}

.link_name {
  display: flex;
  align-items: center;
  font-family: Roboto_Medium, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
  gap: 4px;
}
.active_link_name {
  background:  -webkit-linear-gradient(180deg, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth_button {
  background: var(--gradient);
  border-radius: 6px;
  padding: 10px 48px;
  gap: 10px;
  font-family: Roboto_Medium, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
}